:root {
  --dark-cape-color: rgb(208, 30, 0);
  --medium-cape-color: rgb(246, 52, 60);
  --light-cape-color: rgb(255, 92, 92);
  --small-text-shadow: -1px 1px 1px var(--light-cape-color), -2px 2px 1px var(--medium-cape-color), -3px 3px 2px var(--dark-cape-color);
  --large-shadow: -6px 6px 1px var(--light-cape-color), -14px 14px 1px var(--medium-cape-color), -20px 20px 2px var(--dark-cape-color);
}

body {
  background: #2a94cd;
  padding: 0;
  margin: 0;
  font-family: 'Abel', sans-serif;
  color: rgb(255, 255, 255);
}

header {
  width: 70em;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

h1 {
  transform: translate(-200%, 200%);
  font-family: 'Bangers', sans-serif;
  color: #fff;
  text-shadow: var(--large-shadow);
  text-align: center;
  font-size: 15em;
  padding: 2vh;
  letter-spacing: .1em;
  animation-name:
    fly, float;
  animation-duration:
    2s, 4s;
  animation-delay: 3s, 6s;
  animation-timing-function:
    ease-out, ease-in-out;
  animation-iteration-count:
    1, 5;
/*    animation-fill-mode: foreward; */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@keyframes fly {
  0% {
    transform: translate(-200%, 200%) skewX(-20deg);
    text-shadow: var(--large-shadow), 20px 20px white;
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
    text-shadow: -4px -4px 1px var(--light-cape-color), -8px -8px 1px var(--medium-cape-color), -12px -12px 2px var(--dark-cape-color);
	}
	100% {
		transform: translateY(0px);
	}
}

#clouds {
  z-index:-1;
  position: absolute;
  top: 30%;
}

#front-cloud {
 animation: upFront 2s 1 0.75s backwards;
}

#back-cloud {
 animation: upFront 2s 1;
}

@keyframes upFront {
  0% {
  transform: translateY(200%);}
  100% {
  transform: translateY(0%);}
}
